/options.txt
/optionsof.txt
/knownkeys.txt
.curseclient
/llibrary/
/.mixin.out/
/logs
mods/
/minemenu/
/lootblock/
minecraftinstance.json
realms_persistence.json
/saves
usercache.json
usernamecache.json
/screenshots
mods/OptiFine_1.16.5_HD_U_G7.jar
/crash-reports
/bendspacks
/balancepacks
/backups
optionsshaders.txt
/XaeroWaypoints
XaeroWaypoints_*
journeymap/
/flan/
crafttweaker.log
dropt.log
config/jei/worldSettings.cfg
/config/konkrete
/config/LostBooks/*.bin
/llibrary/debug/
/config/multimob/modInformation/
/config/BiomeTweaker/output/
/config/triumph/documentation/
/mods/hats/
mods/LagGoggles-1.12.2-5.8-132.jar
/config/LagGoggles-server.cfg
/config/LagGoggles-client.cfg
/mods/TickCentral-3.2.jar
manifest.json
modlist.html
mods/OptiFine_1.12.2_HD_U_G6_pre1.jar
mods/Sound-Physics-1.12.2-1.0.10.jar
.ReAuth.cfg
concheckrmd
.gamelaunched
servers.dat
/downloads/
/resourcepacks/*.zip
!/resourcepacks/DoTD+Official.zip
/mods/Green Screens 2.0.jar
/shaderpacks/BSL_v8.1.02.2.zip
/shaderpacks/Sora_Shaders_1.142.zip
/shaderpacks/Chocapic13_V9.1_Extreme_beta_5.zip
/fancymenu_data/last_world.fmdata
mputils/settings.dat
/scripts/.zsrc
/structures/schematics/
seen_buildersbag_addons.txt
patchouli_data.json
/config/splash.properties
/config/customloadingscreen_timings.nbt
/config/cd4017be/compiled.dat
/config/InvTweaks.cfg
/config/fantasticlib/reference/*
/essential/avatar-cache/
/essential/cosmetic-cache/
/essential/loader/
/essential/screenshot-cache/
/essential/lwjgl3-natives/
/essential/screenshot-checksum-caches.json
/essential/Essential (forge_1.12.2).jar
/config/worldedit/
/config/scavenge/I*.txt
/config/Loot\ Overhaul/Useful\ Info/
/config/fancymenu/locals/*.local
